html,
body {
  @apply font-default ease-in-out antialiased p-0 m-0 select-none overflow-hidden bg-white transition-all dark:bg-black h-screen;
}

a {
  color: inherit;
  @apply no-underline;
}
a,
h1,
h2,
p {
  @apply antialiased;
}
* {
  @apply box-border;
}
::-webkit-scrollbar {
  @apply hidden;
}
::-webkit-scrollbar-button {
  @apply hidden;
}
::-webkit-scrollbar-track {
  @apply hidden;
}
::-webkit-scrollbar-track-piece {
  @apply hidden;
}
::-webkit-scrollbar-thumb {
  @apply hidden;
}
::-webkit-scrollbar-corner {
  @apply hidden;
}
.scale {
  animation: myAnim 1s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    opacity: 0;
    animation-duration: 0.05ms;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    animation-duration: 0.05ms;
    transform: translateX(0);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
